<html data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- 제이쿼리 불러오기 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- 폰트어썸 아이콘 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <!-- 아이콘 목록 : https://fontawesome.com/search?o=r&m=free -->

    <!-- 공통 JS 불러오기 -->
    <script src="/resource/common/common.js"></script>
    <!-- 공통 CSS 불러오기 -->
    <link rel="stylesheet" href="/resource/common/common.css">

    <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">커뮤니티</title>
</head>

<body>

<!-- 데이지 UI 불러오기 -->
<link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
<!-- 테일윈드 불러오기 -->
<script src="https://cdn.tailwindcss.com"></script>

<div class="min-h-screen flex flex-col pb-10">
    <header layout:fragment="header"></header>

    <main layout:fragment="main"></main>
</div>

</body>
</html>